<configuration>
    <conversionRule conversionWord="levelcolor" converterClass="se.marcuslonnberg.stark.logging.LevelColoring" />
    <conversionRule conversionWord="msgcolor" converterClass="se.marcuslonnberg.stark.logging.MessageColoring" />

    <property name="defaultPattern"
              value="%date{ISO8601} %levelcolor(%-5level) [%logger{36}] [%cyan(%X{akkaSource})] %msgcolor(%msg) %n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/stark.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/stark.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <logger name="se.marcuslonnberg.stark" level="DEBUG" />
    <logger name="akka" level="INFO" />
    <logger name="spray" level="INFO" />
    <logger name="spray.can" level="ERROR" />
    <logger name="redis" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
